<app-header></app-header>

<section class="phone-list__container">
  <ng-container *ngIf="phones.length && pageNumber!==0">
    <app-phone-card *ngFor="let phone of phones" [phone]="phone"></app-phone-card>
  </ng-container>
  <app-error-element *ngIf="error && !loading" [error]="error"></app-error-element>
</section>

<mat-spinner *ngIf="loading"></mat-spinner>

<section class="phone-list__load-more" *ngIf="!error && (pageNumber*pageSize)<100">
  <button class="load-more__button" *ngIf="!loading" (click)="loadMore()">Load more</button>
</section>
